# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

**/__pycache__/
**/*.py[cod]
**/*$py.class

# any backup files

*.*~
*.bak

**/*.*~
**/*.bak

# Jupyter Notebook

.ipynb_checkpoints
**/.ipynb_checkpoints
*.csv

# ignore data folder

.data
